# node modules
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# dist or build folders (si compilas tu código)
dist/
build/
